<h1>Blog AnyThing..!!</h1>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post.to_param) %></h2>
  <p>
    <%= post.description %>
  </p>
  <p>-<%= post.user.name%></p>
<% end %>
<br>
<%= link_to 'New Post', new_post_path %>