.pull-right{
  float: right;
}
.warn_spam{
  color: #FF0000;
}
.round-image-50 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 65px;
  width: 100px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}